<h1>Create a New Machine</h1>
<form id="create-new-machine" action="/machines/save/" method="POST">
  <fieldset>
    <legend>Machine Details</legend>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" />
    <label for="macaddress">Mac Address</label>
    <input type="text" id="macaddress" name="macaddress" />
    <label for="profile">Profile</label>
    <select name="profile">
      <option value="production">production</option>
      <option value="test">test</option>
    </select>
    <input class="submit-space" type="submit" name="create" value="Create" />
  </fieldset>
</form>
