<br>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{.Title}}</h3>
    </div>
    <div class="panel-body">
        <form role="form" action="/machines/create" method="POST">
            <div class="input-group">
                <span class="input-group-addon">Name</span>
                <input type="text" class="form-control" name="name" value="{{.Data.Name}}" required>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">Mac Address</span>
                <input type="text" class="form-control" name="mac address" value="{{.Data.MacAddress}}" required>
            </div>
            <br>
            <select class="btn btn-default dropdown-toggle">
                <option>Production</option>
                <option>Test</option>
            </select>
            <br>
            <br>
            <button class="btn btn-primary" type="submit" name="update" value="Update">Submit</button>
        </form>
    </div>
</div>
