<h1>Machines</h1>
<form action="/machines/create/">
  <input type="submit" name="create" value="create" />
</form>
<table class="listing">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mac Address</th>
      <th>UUID</th>
      <th>Serial</th>
    </tr>
  </thead>
  <tbody>
    {{range $machine := .Data}}
    <tr>
      <td><a href="/machines/{{$machine.Name}}">{{$machine.Name}}</a></td>
      <td>{{$machine.MacAddress}}</td>
      <td>{{$machine.UUID}}</td>
      <td>{{$machine.Serial}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
