<br>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{.Title}}</h3>
    </div>
    <div class="panel-body">
        <form action="/profiles/create" method="POST">
            <div class="input-group">
                <span class="input-group-addon">Name</span>
                <input type="text" name="name" required>
            </div>
            <br>
            <select class="btn btn-default dropdown-toggle" name="release">
                <option value="stable">Stable</option>
                <option value="beta">Beta</option>
                <option value="alpha">Alpha</option>
            </select class="btn btn-default dropdown-toggle">
            <br>
            <br>
            <select class="btn btn-default dropdown-toggle" name="sshkey">
                <option value="id_rsa.pub">id_rsa.pub</option>
                <option value="insecure.pub">insecure.pub</option>
            </select class="btn btn-default dropdown-toggle">
            <br>
            <br>
            <select class="btn btn-default dropdown-toggle" name="cloud_config">
                <option value="cloud-config.yaml">cloud-config.yaml</option>
            </select class="btn btn-default dropdown-toggle">
            <br>
            <br>
            <select class="btn btn-default dropdown-toggle" name="rootfstype">
                <option value="tmpfs">tmpfs</option>
                <option value="btrfs">btrfs</option>
            </select class="btn btn-default dropdown-toggle">
            <br>
            <br>
            <div class="input-group">
                <span class="input-group-addon">Root</span>
                <input type="text" name="root">
            </div>
            <br>
            <div class="input-group">
                <legend>Console</legend>
                <label class="checkbox-inline">
                    <input type="checkbox" checked name="console" id="tty0" value="tty0">tty0
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="console" id="tty1" value="tty1">tty1
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="console" id="tty2" value="tty2">tty2
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="console" id="ttyS0" value="ttyS0">ttyS0
                </label>
            </div>
            <br>
            <div class="input-group">
                <legend>Autologin</legend>
                <label class="checkbox-inline">
                    <input type="checkbox" name="autologin" id="tty1" value="tty1">tty1
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="autologin" id="tty2" value="tty2">tty2
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="autologin" id="ttyS0" value="ttyS0">ttyS0
                </label>
            </div>
            <br>
            <input class="btn btn-primary" type="submit" name="create" value="Create">
        </form>
    </div>
</div>
