<br>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{.Title}}</h3>
    </div>
    <div class="panel-body">
        <form role="form" action="/cloudconfigs/create" method="POST">
            <div class="input-group">
                <span class="input-group-addon">Name</span>
                <input type="text" class="form-control" name="name" value="{{.Data.Name}}">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">Config</span>
                <textarea class="form-control" rows="10" name="config">{{.Data.Config}}</textarea>
            </div>
            <br>
            <button class="btn btn-primary" type="submit" name="create" value="Create">Submit</button>
        </form>
    </div>
</div>
